
.border-contain {
border:1px solid red;
}
.header {
 margin:"60px 0 0 30px";
 }
#search {
margin: 30px 0px 0px 0px;
}

#ask_me {
    margin: 30px 0 0 0;
    }
    
.auth {
font-size:21px;
}

hr {
 color:black;
 size:2px;
}

.auth p{
margin:20px 0 0 0;
}
#header {
margin: 25px 0 0 30px;
font-size: 50px;
}

#set {
margin:10px 0 0 0;
}


#log {
margin:10px 0 0 0;
}
.avatar {
margin: 15px 0 0 0;
}
 
